body {
  color: white;
  background-color: black;
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.centered {
  text-align: center;
}

.smoltext {
  font-size: 10px;
}

#red {background-color: #f44141;}
#orange {background-color: #f48342;}
#yellow {background-color: #f4dc41;}
#grey {background-color: #0f0f0f;}

#color-sections > .section > .section-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 8vw; /* Set font size relative to the viewport width */
  z-index: 1;
  white-space: nowrap;
}

#color-sections > .section {
  width: 100%;
  height: 4vw;
  position: relative;
  left: 0;
  top: 0;
}

#color-sections {
  position: relative;
}
